@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
:root {
  --primary: #176ede;
  --bg-primary: #fff;
  --bg-secondary: #edf2f8;
  --bg-terinary: #fafafa;
  --body-bg: #f5f8ff;
  --box-bg: #fff;
  --input-bg: #f5f8ff;
  --txt-color: #2f2d2f;
  --txt-second-color: #ccc;
  --border-color: #4267b2;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 100%;
  background-color: var(--box-bg);
  padding: 0px 20px;
  border-radius: 20px;
  /* box-shadow: var(--box-shadow); */
}

.img-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  border: 4px solid #d4d9e2;
  box-shadow: var(--box-shadow);
}

.btn-bg {
  background-color: rgba(0, 0, 0, 0.4) !important;
  color: white !important;
}

.drop-file-input {
  /* position: relative; */
  width: 100%;
  height: 200px;
  border: 2px dashed var(--border-color) !important;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--input-bg);
}

.drop-file-input input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.drop-file-input:hover,
.drop-file-input.dragover {
  opacity: 0.6;
}

.drop-file-input__label {
  text-align: center;
  color: var(--txt-second-color);
  font-weight: 600;
  padding: 10px;
}

.drop-file-input__label img {
  width: 100px;
}

.drop-file-preview {
  margin-top: 30px;
}

.drop-file-preview p {
  font-weight: 500;
}

.drop-file-preview__title {
  margin-bottom: 20px;
}

.drop-file-preview__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: var(--input-bg);
  padding: 15px;
  border-radius: 20px;
}

.drop-file-preview__item img {
  width: 50px;
  margin-right: 10px;
}

.drop-file-preview__item__info {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-direction: column;
  justify-content: space-between;
}
.drop-file-preview__item__info > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.drop-file-preview__item__del {
  background-color: var(--box-bg);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}

label {
  background-color: indigo;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
}

.label-soal {
  background-color: white;
  color: black;
  padding: 0;
}

.list-item-dot {
  border: 1.4px solid #546fff;
  /* border-radius: 50%; */
  padding: 3px;
  margin-right: 9px;
}
.list-item-dot-active {
  background-color: #546fff;
}

#file-chosen {
  margin-left: 0.3rem;
  font-family: sans-serif;
}

.showFormButton {
  opacity: 1;
  transition: opacity 0.2s 0s ease-out;
}

/* Form upload */

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #3a92af;
  background: -webkit-linear-gradient(bottom left, #3a92af 0%, #5ca05a 100%);
  background: -moz-linear-gradient(bottom left, #3a92af 0%, #5ca05a 100%);
  background: -o-linear-gradient(bottom left, #3a92af 0%, #5ca05a 100%);
  background: linear-gradient(to top right, #3a92af 0%, #5ca05a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3A92AF', endColorstr='#5CA05A',GradientType=1 );
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: relative;
  width: 260px;
  height: 260px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 3px;
}

.title {
  font-size: 16px;
  color: #676767;
  line-height: 50px;
  height: 50px;
  border-bottom: 1px solid #d8d8d8;
  text-align: center;
}

.dropzone {
  z-index: 1;
  box-sizing: border-box;
  width: 90%;
  height: 100%;
  position: relative;
  margin: 10px auto 10px auto;
  border: 1px dashed #a4a4a4;
  border-radius: 3px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  &.is-dragover {
    border-color: #666;
    background: #eee;
  }
}
.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dropzone .upload {
  margin: 6px 0 0 2px;
  border: 1px solid black;
}

.dropzone .filename {
  display: block;
  color: #676767;
  font-size: 14px;
  line-height: 18px;
}

.dropzone .input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.dropzone .image-parent-upload {
  position: relative;
}

.upload-btn {
  width: 140px;
  height: 40px;
  margin-top: 12px;
  background: #6ece3b;
  border-radius: 3px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  box-shadow: 0 2px 0 0 #498c25;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow:
      0 2px 0 0 #498c25,
      0 2px 10px 0 #6ece3b;
  }
}

.image-parent-upload {
  height: 100%;
}

.progress-container {
  margin-top: 15px;
  position: relative;
  height: 20px;
  width: 100%;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #2ecc71;
  /* border-radius: 5px; */
  transition: width 0.3s;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  font-size: 14px;
  display: none;
}

.syncing {
  display: none;
  &.active {
    animation: syncing 3.2s ease-in-out;
  }
}

.uploadFile {
  display: flex;
}

.done {
  display: none;
  &.active {
    animation: done 0.5s ease-in 3.2s;
    animation-fill-mode: both;
  }
}

@keyframes syncing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes done {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Audio */

.player {
  width: 100%;
  /* background: red; */
  /* height: 300px; */
  /*   margin: 100px; */
  padding: 0px 14px 0px 14px;
  display: flex;
  /* height: max-content; */
  /* border : 1px solid red; */
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.imgBx {
  height: 70px;
  width: 100%;
  display: flex;
  /* flex: 1; */
  /* display: flex; */
}
.imgBx img {
  width: 100%;
  height: 100%;
  border: none;
  object-fit:contain;
  border-radius: 10px;
}

.player audio {
  height: max-content;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 6px;
  margin-left: 7px;
  padding: 0;
}

.player audio source {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.soal-file[type='file'] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

.soal-file[type='file']::file-selector-button {
  margin-right: 20px;
  border: none;
  background-color: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.soal-file[type='file']::file-selector-button:hover {
  background: #0d45a5;
}

.file-soal {
  padding: 0;
  width: 320px;
  display: flex;
  row-gap: 7px;
  flex-direction: column;
}

.file-soal img {
  object-fit: contain;
  width: 100%;
}

.file-soal audio {
  width: 100%;
}

.text-soal {
  margin-top: 0;
  flex: 1;
}

.soal-parent {
  display: flex;
  column-gap: 12px;
}

.card-list {
	width: 100%;
	max-width: 400px;
}

.card {
  background-color: #fff;
  box-shadow:
    0 0 0 1px rgba(#000, 0.05),
    0 20px 50px 0 rgba(#000, 0.1);
  border-radius: 15px;
  /* overflow: hidden; */
  padding: 1.25rem;
  position: relative;
  transition: 0.15s ease-in;
}
.card:hover,
.card:focus-within {
  box-shadow:
    0 0 0 2px #16c79a,
    0 10px 60px 0 rgba(#000, 0.1);
  /* transform: translatey(-5px); */
}

.card-image {
  border-radius: 10px;
  /* overflow: hidden; */
}

.card-header {
  /* margin-top: 1.5rem; */
  display: flex;
  padding: 0 12px;
  /* border: 1px solid blue; */
  position: relative;
  align-items:center;
  justify-content: space-between;
}
.card-header a {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.25;
  /* padding-right: 1rem; */
  text-decoration: none;
  color: inherit;
  will-change: transform;
}
.card-header a:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.detail-nilai-kategori {
  box-shadow: var(--box-shadow);
  padding: 12px;
  width: 100%;
}

.icon-button {
  border: 0;
  background-color: #fff;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 1.25rem;
  transition: 0.25s ease;
  box-shadow:
    0 0 0 1px rgba(#000, 0.05),
    0 3px 8px 0 rgba(#000, 0.15);
  z-index: 1;
  cursor: pointer;
  color: #565656;
}
.icon-button svg {
  width: 1em;
  height: 1em;
}
.icon-button:hover,
.icon-button:focus {
  background-color: #ec4646;
  color: #fff;
}

.card-footer {
  margin-top: 1.25rem;
  border-top: 1px solid #ddd;
  padding-top: 1.25rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card-meta {
  display: flex;
  align-items: center;
  color: #787878;
}
.card-meta:first-child:after {
  display: block;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: currentcolor;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.card-meta svg {
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
}

@media only screen and (max-width: 1020px) {
  .file-soal {
    width: 100%;
  }
  .soal-parent {
    flex-direction: column;
  }
  .text-soal {
    /* display: none; */
    margin-top: 9px;
  }
  .center {
    width: 100%;
  }
}
